{% set company = "Beach Surfing" %}
{% if not(title) %}
    {% set title = "Default title" %}
{% endif %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <script src="js/loader.js"></script>

    <link rel="stylesheet" href="/css/style.css">

    {#  favicon  #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {#  end favicon  #}

</head>
<body>
{#    {% include "../parts/header.njk" %}#}
    {% block content %}{% endblock %}
{#    {% include "../parts/slider.njk" %}#}

    {% include "../parts/loader.njk" %}

    <script src="js/jquery.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick.config.js"></script>
    <script src="js/template.js"></script>

</body>
</html>
