<div class="content blog">
    <h3 class="animate animate-up">
        Recent Blogs by User
    </h3>
    <div class="blog__content animate animate-up">
        <div class="blog__img animate animate-up">
            <img src="images/Layer15.png" alt="">
        </div>
        <div class="blog__txt animate animate-up delay-One">
            <h4>
                Lipsum cound be headline
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <a href="" class="std-button animate animate-up">
                Read More
            </a>
        </div>
    </div>
    <div class="blog__content">
        <div class="blog__img animate animate-up">
            <img src="images/Layer17.png" alt="">
        </div>
        <div class="blog__txt animate animate-up delay-One">
            <h4>
                Lipsum cound be headline
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <a href="" class="std-button animate animate-up">
                Read More
            </a>
        </div>
    </div>
    <h3 class="animate animate-up">
        Aren’t you intrested Yet!!
    </h3>
    <div class="wrap centered-txt animate animate-up">
        <a href="" class="std-button intrested">
            Enroll Now
        </a>
    </div>
</div>
