

<div class="footer">
    <div class="content">
        <div class="footer__wrap">
            <div class="footer__left">
                <h5>{{ company }}</h5>
                <p>Copyright &copy; All Rights Reserved.</p>
            </div>
            <div class="footer__right">
                <p>
                    Designed by
                    <b>
                        Rikon Rahman
                    </b>
                </p>
            </div>
        </div>
    </div>
</div>

