

<div class="content">
	<div class="nav">
		<div class="logo">
			<svg class="logo-ico">
				<use xlink:href="/svg/sprite.svg#Logo"></use>
			</svg>
		</div>
		<div class="menu">
			<div class="toggle-nav__bubble">
				<div class="toggle-nav">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navigation__wrapper">
				<ul class="navigation">
					<li>
						<a class="active" href="">Home</a>
					</li>
					<li>
						<a href="">About</a>
					</li>
					<li>
						<a href="">Blog</a>
					</li>
					<li>
						<a href="">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

