
<div class="header">
	<div class="nav">
		<div class="logo">
			<svg class="logo-ico">
				<use xlink:href="/svg/sprite.svg#Logo"></use>
			</svg>
		</div>
		<div class="menu">
			<div class="toggle-nav__bubble">
				<div class="toggle-nav" id="toggle-nav">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navigation__wrapper">
				<ul class="navigation">
					<li>
						<a class="active" href="">Home</a>
					</li>
					<li>
						<a href="">About us</a>
					</li>
					<li>
						<a href="">Blog</a>
					</li>

				</ul>
			</div>
		</div>
		<div class="order">
			<button class="order__btn orange-btn">
				Order now
			</button>
		</div>
	</div>
	<div class="main-txt">
		<h1 class="main-txt__head">
			Lorem ipsum dolor sit amet, consectetur
		</h1>
		<p class="main-txt__sub">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
		<div class="main-txt__arrow">
			<svg class="arrow-down">
				<use xlink:href="/svg/sprite.svg#arrow-down"></use>
			</svg>
		</div>
	</div>
	<div class="main-form">
		<div class="main-form__head">
			Place your order
		</div>
		<form action="">
			<div class="main-form__data">
				<input type="text" name="name" class="main-form__input" placeholder="Topic" value="Topic">
				<div class="select">
					<select name="slct" >
						<option selected disabled>Essay</option>
						<option value="1">Essay</option>
						<option value="2">Essay 2</option>
						<option value="3">Essay 3</option>
					</select>
				</div>
				<div class="select">
					<select name="num" >
						<option selected disabled>275</option>
						<option value="275">275</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
			</div>

			<div class="main-form__button">
				<button class="order__btn orange-btn">
					Order Now
				</button>
			</div>

		</form>
	</div>
</div>

