<div class="content long-mrg-top long-mrg-bot">
    <h1 class="animate animate-up">
        Long Beach Surfing Institute
    </h1>
    <p class="slogan animate animate-up">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
</div>

<div class="content short-mrg-top short-mrg-bot">
    <div class="box">
        <div class="box__item box__review animate animate-up">
            <h4>
                Recent Reviews
            </h4>
            <div class="quote">
                <p class="quote__txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed incididunt ut labore et dolore.
                </p>
                <p class="quote__name">
                    -  Steve Woz
                </p>
            </div>
            <div class="quote">
                <p class="quote__txt">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed incididunt ut labore et dolore mang.
                </p>
                <p class="quote__name">
                    -  David Collum
                </p>
            </div>
        </div>
        <div class="box__item box__video animate animate-up delay-One">
            <div class="box__video--item">
                <a href="">
                    <img src="images/Layer8.png" alt="">
                    <span class="play">
						<span class="triangle"></span>
					</span>
                </a>
            </div>
        </div>
        <div class="box__item box__video--small animate animate-up delay-Two">
            <h4>
                User Videos
            </h4>
            <div class="box__video--item">
                <a href="">
                    <img src="images/Layer9.png" alt="">
                    <span class="play">
						<span class="triangle"></span>
					</span>
                </a>
            </div>
            <div class="box__video--item">
                <a href="">
                    <img src="images/Layer10.png" alt="">
                    <span class="play">
						<span class="triangle"></span>
					</span>
                </a>
            </div>
        </div>
    </div>
</div>
