<div class="slider">
    <h2 class="slider__head">
        Testimonials
    </h2>
    <div class="slick__slider">
        <div>
            <div class="slider__box">
                <div class="slider__box--txt">
                    I have tried a lot of online writing services and I stopped by this
                    website, because the quality of the papers written here was above
                    average. Moreover, they have affordable prices and good discounts
                    for customers. I highly recommend you to try this service and you
                    will not be disappointed.
                </div>
                <div class="slider__box--name">
                    Namelessone F.
                </div>
            </div>
        </div>
        <div>
            <div class="slider__box">
                <div class="slider__box--txt">
                    When I was stuck with my essay writing and thought that there
                    is no way out, you guys appeared out of the blue! Your writing
                    team deserves appreciation. I cannot imagine my student life
                    without your competent assistance. Thank you!
                </div>
                <div class="slider__box--name">
                    Andrey L.
                </div>
            </div>
        </div>
        <div>
            <div class="slider__box">
                <div class="slider__box--txt">
                    I am a returning customer of this online writing service. I have
                    been using this site from High school and I must admit that my
                    writer has never let me down. Moreover, I have always received
                    a good grade on all papers ordered hereou!
                </div>
                <div class="slider__box--name">
                    Kristy T.
                </div>
            </div>
        </div>
        <div>
            <div class="slider__box">
                <div class="slider__box--txt">
                    I have tried a lot of online writing services and I stopped by this
                    website, because the quality of the papers written here was above
                    average. Moreover, they have affordable prices and good discounts
                    for customers. I highly recommend you to try this service and you
                    will not be disappointed.
                </div>
                <div class="slider__box--name">
                    Namelessone F.
                </div>
            </div>
        </div>
    </div>
    <div class="slider__info">
        <div class="slider__info--num">
            3/10
        </div>
        <div class="slider__info--btn">
            <button class="transparent-btn">
                Add Testimonial
            </button>
        </div>
    </div>
</div>


