{% set navActiveItem = 0 %}
{% set title = "Test page" %}
{% extends "src/njk/layout/main.njk" %}

{% block content %}

{% include "src/njk/parts/header.njk" %}
{% include "src/njk/parts/slider.njk" %}

{% endblock %}


